<section id="about" class="about">
      <div class="container-fluid">

        <div class="row">

          <div class="col-lg-5 align-items-stretch video-box" style='background-image: url("media/images/main/about.jpg");'>
            <a href="#" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
          </div>

          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch">
            <div class="content">
              <h3>Taste <strong>delicious</strong></h3>
              <p>
                Always delicious with us
              </p>
              <p class="fst-italic">
                Delicious food and drinks are the key to a good time
              </p>
              <ul>
                <li><i class="bx bx-check-double"></i>Always delicious</li>
                <li><i class="bx bx-check-double"></i>Always friendly</li>
                <li><i class="bx bx-check-double"></i>Always nice</li>
              </ul>
              <p>
                Dishes with fresh and natural products. Choose your taste.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>